@media screen and (max-width:1680px) {
    /* .nowosci-blocks{
        grid-template-columns: 1fr 1fr; 
    } */

    .nb-el, .sbb-el-text{
        width: auto;
    }

    .nbe-banner{
        width: 100%;
    }
}

@media screen and (max-width:1440px) {
    .zawod-el{
        background-size: 60%;
        background-position: 160% 100%;
    }
}

@media screen and (max-width:1024px) {
    header ul{
        display: none;
    }

    .first-block{
        flex-direction: column;
    }

    .fb-uczen{
        margin-top:50px;
    }

    .first-block{
        padding: 40px 40px;
    }

    .first-block h1{
        font-size: 45px;
    }

    #f-eclipse{
        bottom: -30%;
    }

    #s-eclipse{
        left:0%;
    }

    #t-eclipse{
        bottom: -22%;
    }

    #fourth-eclipse{
        top: 20%;
        left: 73%;
    }

    .zawod-el{
        background-size: 70%;
        background-position: 160% 100%;
    }

    .sbb-el-text{
        font-size: 25px;
    }

    .seventh-block{
        flex-direction: column;
    }

    .mapa{
        min-width: auto;
    }
}

@media screen and (max-width:875px) {
    .zawody-blocks{
        grid-template-columns: 1fr;
    }

    .zawod-el{
        background-size: 65%;
        background-position: 160% 100%;
    }

    .nowosci-blocks{
        grid-template-columns: 1fr; 
    }

    .sb-blocks{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:430px) {
    .only-mob{
        display:none !important;
    }
}

@media screen and (max-width:430px) {
    .only-pc{
        display:none;
    }

    header{
        padding: 5px 0;
    }

    body, html{
        overflow-x: hidden;
    }

    .first-block__wrapper{
        max-width:100%;
    }

    .first-block{
        padding: 20px 15px;
        border-radius: 0;
        /* mix-blend-mode: lighten; */
    }

    .first-block h1{
        font-size: 30px;
    }

    .first-block h1 br{
        display: none;
    }

    .first-block h2{
        font-size: 23px;
    }

    .fb-textblock a{
        font-size: 23px;
        width: auto;
        display: flex;
        justify-content: center;
        padding: 16px 0px;
    }

    .fb-textblock ul{
        margin: 40px 0 0px 0;
    }

    .fb-textblock ul li{
        font-size: 19px;
        background-size: 25px;
        padding-left: 35px;
        margin: 22px 0;
    }

    .fb-uczen img {
        height: 320px;
    }

    #f-eclipse{
        left: -68%;
        opacity:0;
    }

    #s-eclipse{
        top: -5%;
        left: -17%;
        
    opacity: .5;
    }

    #t-eclipse{
        opacity:0;
    }

    #fourth-eclipse{
        top: 0%;
        right:0;
        max-width:100%;
    }

    #fourth-eclipse svg{
        width: 100%;
        height: auto;
        filter: blur(33px);
    }

    #rekturacjablocks1{
        max-width:100%;
        margin-top:45px;
    }

    #rekturacjablocks1 .item{
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    }

    .za-text{
        max-width: 100%;
    }
}