@media screen and (max-width:1440px) {
    
}

@media screen and (max-width:1024px) {
    header ul{
        display: none;
    }

    .first-block{
        flex-direction: column;
    }

    .fb-uczen{
        margin-top:50px;
    }

    .first-block{
        padding: 40px 40px;
    }

    .first-block h1{
        font-size: 45px;
    }

    #f-eclipse{
        bottom: -30%;
    }

    #s-eclipse{
        left:0%;
    }

    #t-eclipse{
        bottom: -22%;
    }

    #fourth-eclipse{
        top: 20%;
        left: 73%;
    }
}

@media screen and (min-width:430px) {
    .only-mob{
        display:none !important;
    }
}

@media screen and (max-width:430px) {
    .only-pc{
        display:none;
    }

    header{
        padding: 5px 0;
    }

    body, html{
        overflow-x: hidden;
    }

    .first-block__wrapper{
        max-width:100%;
    }

    .first-block{
        padding: 20px 15px;
        border-radius: 0;
        /* mix-blend-mode: lighten; */
    }

    .first-block h1{
        font-size: 30px;
    }

    .first-block h1 br{
        display: none;
    }

    .first-block h2{
        font-size: 23px;
    }

    .fb-textblock a{
        font-size: 23px;
        width: auto;
        display: flex;
        justify-content: center;
        padding: 16px 0px;
    }

    .fb-textblock ul{
        margin: 40px 0 0px 0;
    }

    .fb-textblock ul li{
        font-size: 19px;
        background-size: 25px;
        padding-left: 35px;
        margin: 22px 0;
    }

    .fb-uczen img {
        height: 320px;
    }

    #f-eclipse{
        left: -68%;
        opacity:0;
    }

    #s-eclipse{
        top: -5%;
        left: -17%;
        
    opacity: .5;
    }

    #t-eclipse{
        opacity:0;
    }

    #fourth-eclipse{
        top: 0%;
        right:0;
        max-width:100%;
    }

    #fourth-eclipse svg{
        width: 100%;
        height: auto;
        filter: blur(33px);
    }
}