@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --black-color:#1A1A1A;
    --blue-color:#608AF5;
}

*{
    color:var(--black-color);
    font-family: 'Montserrat', sans-serif;
    transition:.2s;
    font-style: normal;
    line-height: normal;
}

body{
    overflow-x:hidden;
}

header{
    max-width:90%;
    margin:0 auto;
    padding:15px 0;
}

header .h-logo img{
    width:auto;
    height:60px;
    transition: 0s;
}

.h-logo img:hover{
    filter: hue-rotate(312deg);
}

header a{
    text-decoration: none;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    list-style-type: none;
    margin-right:40px;
}

header li:last-child{
    margin-right:0;
}

header ul{
    padding-left:0;
    display: flex;
}

header li a{
    font-size: 20px;
    font-weight: 400;
}

header li a:hover{
    color:var(--blue-color);
}

.h-search svg{
    cursor:pointer;
}

.h-search svg:hover path{
    stroke:var(--blue-color);
}

.burger-menu-icon{
    display: none;
}

.two-utilities{
    display: flex;
    gap:35px;
}

.mob-menu__wrapper{
    pointer-events: none;
    display: none;
}

#f-eclipse{
    position:absolute;
    bottom:15%;
    left:-15%;
    animation: floatAnimation 5s infinite alternate;
    animation-delay:1s;
    pointer-events: none;
}

#f-eclipse svg{
    width:492px;
    height: auto;
    filter: blur(55px);
}

#s-eclipse{
    position:absolute;
    left:15%;
    animation: floatAnimation 4s infinite alternate;
    animation-delay:2s;
    pointer-events: none;
}

#s-eclipse svg{
    width:208px;
    height: auto;
    filter: blur(55px);
}

#t-eclipse{
    position:absolute;
    bottom:10%;
    left:18%;
    animation: floatAnimation 3s infinite alternate;
    animation-delay:3s;
    pointer-events: none;
}

#t-eclipse svg{
    width:174px;
    height: auto;
    filter: blur(55px);
}

#fourth-eclipse{
    position:absolute;
    top:10%;
    left:50%;
    animation: floatAnimation 3s infinite alternate;
    animation-delay:4s;
    pointer-events: none;
}

#fourth-eclipse svg{
    width:208px;
    height: auto;
    filter: blur(55px);
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(60px) translateX(20px);
    }
}

.blue-text{
    color:var(--blue-color);
}

/* First block */

.first-block__wrapper{
    max-width:95%;
    margin:0 auto;
}

.first-block{
    padding:80px 85px;
    position: relative;
    border-radius: 39px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(37.29999923706055px);
    display: flex;
    justify-content: space-between;
}

.first-block h1{
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
    line-height:1.4;
    margin:0;
}

.first-block h2{
    font-size: 45px;
    font-weight: 400;
    margin:0;
}

.fb-uczen{
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.fb-uczen img{
    height:100%;
    width:auto;
}

.fb-textblock ul{
    margin:60px 0 100px 0;
    list-style-type: none; /* Убираем стандартные точки */
    padding: 0;
}

.fb-textblock ul li{
    margin: 30px 0;
    padding-left: 50px;
    background: url('../img/galka.svg') left center no-repeat;
    background-size: 35px;
    font-size: 24px;
}

.fb-textblock a{
    font-size: 24px;
    text-decoration: none;
    padding:23px 27px;
    border:2px solid var(--blue-color);
    border-radius: 10px;
    margin-top:20px;
}

.fb-textblock a:hover{
    color:white;
    background-color:var(--blue-color);
}

/* Second block */

#rekturacjablocks1{
    max-width:85%;
    margin:0 auto;
}

#rekturacjablocks1 .item{
    height:378px;
    width:269px;
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: 0px 4px 65px 0px rgba(0, 0, 0, 0.08);
    margin-bottom:25px;
    position:relative;
}

#rekturacjablocks1 .item a{
    width:100%;
    height:100%;
    position:absolute;
}

.owl-nav{
    font-size:40px;
}

.owl-prev{
    margin-right:20px;
}

.owl-next{
    margin-left:20px;
}

.owl-nav [class*=owl-]:hover{
    background:none !important;
}

/* third block */

#videoblocks1 iframe{
    height:90vh;
    width:100%;
}

.video-block-zag{
    text-align: center;
    margin:60px 0 30px 0;
    font-weight: 500;
    font-size: 44px;
}

/* fourth block */

.zawody-blocks{
    max-width:85%;
    margin:100px auto 70px auto;
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.zawod-el{
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.03);
    padding:47px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: 120% 120%;
    background-size: 50%;
}

.ze-zag{
    font-size: 32px;
    font-weight: 600;
    line-height: 115%;
    margin:0 0 12px 0;
}

.za-text{
    max-width:65%;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:60px;
}

.ze-s a{
    color:var(--blue-color);
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.ze-s a svg{
    padding-left:15px;
}

.ze-s a:hover svg{
    padding-left:20px;
}

.zawod-btn{
    display: flex;
    justify-content: center;
}

.zawod-btn a{
    font-size: 24px;
    text-decoration: none;
    padding: 23px 27px;
    border: 2px solid var(--blue-color);
    border-radius: 10px;
    margin-top: 20px;
}

.zawod-btn a:hover{
    color: white;
    background-color: var(--blue-color);
}

/* fifth block */

.fifth-block-zag{
    margin:150px 0 50px 0;
    text-align: center;
    font-weight: 500;
    font-size: 55px;
}

.nowosci-blocks{
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
    max-width:85%;
    margin:0 auto 200px auto;
}

.nb-el{
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.03);
}

.nbe-all{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:370px;
}

.nbe-banner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height:310px;
    width:540px;
    position:relative;
    overflow: hidden;
}

.nbe-banner .img-anim{
    border-radius: 10px;
}

.img-anim{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.img-anim:hover {
    /* background-size: 115% 115%; */
    transform: scale(1.1);
}

.nbe-f, .nbe-s{
    margin-left:29px;
    margin-right:29px;
}

.nbe-f h3{
    font-weight: 500;
    font-size: 28px;
    margin:31px 0 12px 0;
}

.nbe-f p{
    font-size: 20px;
    font-weight: 400;
}

.nbe-s{
    margin-bottom:50px;
}

.nbe-s a{
    font-size: 20px;
    text-decoration: none;
    padding: 16px 34px;
    border: 2px solid var(--blue-color);
    border-radius: 10px;
}

.nbe-s a:hover{
    color: white;
    background-color: var(--blue-color);
}

/* sixth block */

.sixth-block__wrapper{
    padding:107px 0;
    background: var(--blue-color, linear-gradient(100deg, #608AF5 20.85%, #1F78FF 72.25%));
}

.sixth-block{
    max-width:85%;
    margin:0 auto;
}

.sb-blocks{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    gap:20px;
}

.sbb-el{
    text-decoration: none;
}

.sixth-block-zag{
    font-size: 54px;
    color: #FFF;
    text-align: center;
    font-weight: 600;
}

.sbb-el__img{
    height:300px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.sbb-el-text{
    padding-top:20px;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-decoration:none;
    width:540px;
}

/* Seventh block */

.seventh-block-zag{
    text-align: center;
    font-weight: 500;
    font-size: 54px;
}

.mapa{
    background-image:url(../img/mapa.png);
    background-position:center;
    background-size:cover;
    min-height:501px;
    min-width:800px;
}

.seventh-block{
    display: flex;
    gap:40px;
    max-width:85%;
    margin:0 auto 192px auto;
}

.seventh-block-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adress{
    font-size: 30px;
    font-weight: 500;
    margin:0 0 10px 0;
}

.szkola-name{
    font-size: 24px;
    font-weight: 400;
    margin:0;
}

.sbi-s a{
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
}

/* footer */

.footer__wrapper{
    background: #3A3A3A;
    padding:120px 0 170px 0;
}

.footer{
    display:flex;
    justify-content: space-between;
    max-width:85%;
    margin:0 auto;
    flex-wrap: wrap;
}

.footer-menu{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 12px 50px; 
    padding:0;
}

.footer-menu li{
    list-style-type: none;
}

.footer-menu li a{
    color:#FFF;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}

.footer-menu li a:hover{
    opacity:.8;
}

.footer-logo img{
    width: 283px;
    height:288px;
}

.footer-contact{
    max-width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-contact p , .footer-contact a{
    color:#FFF;
}