@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --black-color:#1A1A1A;
    --blue-color:#608AF5;
}

*{
    color:var(--black-color);
    font-family: 'Montserrat', sans-serif;
    transition:.2s;
    font-style: normal;
    line-height: normal;
}

body{
    overflow-x:hidden;
}

header{
    max-width:90%;
    margin:0 auto;
    padding:15px 0;
}

header .h-logo img{
    width:auto;
    height:60px;
    transition: 0s;
}

.h-logo img:hover{
    filter: hue-rotate(312deg);
}

header a{
    text-decoration: none;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    list-style-type: none;
    margin-right:40px;
}

header li:last-child{
    margin-right:0;
}

header ul{
    padding-left:0;
    display: flex;
}

header li a{
    font-size: 20px;
    font-weight: 400;
}

header li a:hover{
    color:var(--blue-color);
}

.h-search svg{
    cursor:pointer;
}

.h-search svg:hover path{
    stroke:var(--blue-color);
}

#f-eclipse{
    position:absolute;
    bottom:15%;
    left:-15%;
    animation: floatAnimation 5s infinite alternate;
    animation-delay:1s;
    pointer-events: none;
}

#f-eclipse svg{
    width:492px;
    height: auto;
    filter: blur(55px);
}

#s-eclipse{
    position:absolute;
    left:15%;
    animation: floatAnimation 4s infinite alternate;
    animation-delay:2s;
    pointer-events: none;
}

#s-eclipse svg{
    width:208px;
    height: auto;
    filter: blur(55px);
}

#t-eclipse{
    position:absolute;
    bottom:10%;
    left:18%;
    animation: floatAnimation 3s infinite alternate;
    animation-delay:3s;
    pointer-events: none;
}

#t-eclipse svg{
    width:174px;
    height: auto;
    filter: blur(55px);
}

#fourth-eclipse{
    position:absolute;
    top:10%;
    left:50%;
    animation: floatAnimation 3s infinite alternate;
    animation-delay:4s;
    pointer-events: none;
}

#fourth-eclipse svg{
    width:208px;
    height: auto;
    filter: blur(55px);
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(60px) translateX(20px);
    }
}

.blue-text{
    color:var(--blue-color);
}

/* First block */

.first-block__wrapper{
    max-width:95%;
    margin:0 auto;
}

.first-block{
    padding:80px 85px;
    position: relative;
    border-radius: 39px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(37.29999923706055px);
    display: flex;
    justify-content: space-between;
}

.first-block h1{
    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
    line-height:1.4;
    margin:0;
}

.first-block h2{
    font-size: 45px;
    font-weight: 400;
    margin:0;
}

.fb-uczen{
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.fb-uczen img{
    height:100%;
    width:auto;
}

.fb-textblock ul{
    margin:60px 0 100px 0;
    list-style-type: none; /* Убираем стандартные точки */
    padding: 0;
}

.fb-textblock ul li{
    margin: 30px 0;
    padding-left: 50px;
    background: url('../img/galka.svg') left center no-repeat;
    background-size: 35px;
    font-size: 24px;
}

.fb-textblock a{
    font-size: 24px;
    text-decoration: none;
    padding:23px 27px;
    border:2px solid var(--blue-color);
    border-radius: 10px;
    margin-top:20px;
}

.fb-textblock a:hover{
    color:white;
    background-color:var(--blue-color);
}

/* Second block */

#rekturacjablocks1{
    max-width:85%;
    margin:0 auto;
}

#rekturacjablocks1 .item{
    height:378px;
    width:269px;
    background-size:cover;
    background-position:top;
    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: 0px 4px 65px 0px rgba(0, 0, 0, 0.08);
    margin-bottom:25px;
    position:relative;
}

#rekturacjablocks1 .item a{
    width:100%;
    height:100%;
    position:absolute;
}